.cart-container {
  padding: 20px;
}

.cart-item {
  background-color: #fff8f0;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.empty-cart{
  background: #efe6d8;
  color: #8b6b3f;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  border-radius: 16px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.cart-item button {
  background-color: #8b6f47;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #6f4e37;
}

.checkout-btn {
  background-color: #6f4e37;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}