.success-container {
  text-align: center;
  margin-top: 80px;
}

.success-container h1 {
  color: #6f4e37;
}

.success-container button {
  display: inline-block;
  margin-top: 20px;
  background-color: #8b6f47;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
}